@page "/"
@inject HttpClient Http;

<PageTitle>Index</PageTitle>

<table style="border: 2px solid black; border-collapse: collapse;">
    <thead>
        <tr>
            <th>
                Test
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                100 posts
            </td>
            <td>
                @Tests[0];
            </td>
        </tr>

    </tbody>
</table>

@code {
    List<Boolean> Tests = new List<Boolean>();

    private Car[]? cars;

    protected override async Task OnInitializedAsync()
    {
        Tests.Add(false);
        cars = await Http.GetFromJsonAsync<Car[]>("API/Car");
    }
}