table
{
    margin-left: 1vw;
    margin-top: 1vh;
    border-collapse: collapse;
}

table, td, th 
{
    border: 2px solid black;
    padding: 4px;
}

.failed
{
    color: red;
}

.passed
{
    color: green;
}

.error, .score
{
    font-size: 2vw;
    margin-top: 1em;
}
