@page "/"
<PageTitle>Index</PageTitle>

<table style="border: 2px solid black; border-collapse: collapse;">
    <thead>
        <tr>
            <th>
                Test
            </th>
            <th>
                Status
            </th>
            <th>
                Messages
            </th>
        </tr>
    </thead>
    <!--I'm lazy so I'm doing stupid HTML garbage OMEGALUL-->
    <tbody>
        @for(int i = 0; i < Math.Min(TestNames.Length, TestStatuses.Count); i++)
        {
            <tr>
                <td>
                    @TestNames[i]
                </td>
                <td>
                    <div class="@((TestStatuses[i] == false) ? "failed" : "passed")">@((TestStatuses[i] == false) ? "Failed" : "Passed")</div>
                </td>
                <td>
                    @TestMessages[i]
                </td>
            </tr>
        }
    </tbody>
</table>

@if(fatalError == true)
{
<div class="error failed">
    Tests stopped early due to a fatal error. Check above table for more info.
</div>
}